# Flutter/Dart generated
.dart_tool/
.flutter-plugins*
android/local.properties
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
build/

# OS files
.DS_Store
Thumbs.db
*.swp

# IDE
.vscode/
.idea/
*.iml
